 <!-- Modal list start -->
 <div class="modal fade bd-example-modal-lg" role="dialog" aria-modal="true" id="new-department-modal" >
    <div class="modal-dialog  modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">

        
        <div class="modal-header d-block text-center pb-3 border-bttom">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="exampleModalCenterTitle02">New Department</h3>
        </div>

        <div class="modal-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                
                            <div class="form-group col-md-12">
                            <label class="h5">Designation</label>
                            <input
                              type="text"
                              formControlName="name"
                              class="form-control"
                              placeholder="Enter your designation"
                              [ngClass]="{ 'is-invalid': submitted && f['name'].errors }"
                            />
                            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
                              <div *ngIf="f['name'].errors['required']">First Name is required</div>
                              <div *ngIf="f['name'].errors['minlength']">
                                  First Name must be at least 3 characters
                              </div>
                              <div *ngIf="f['name'].errors['maxlength']">
                                  First Name must not exceed 30 characters
                              </div>
                            </div>
                          </div>
                    

                                  <div class="form-group col-md-12 text-center">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                    <button type="button" (click)="onReset()" class="btn btn-warning ml-2">Reset</button>
                                    <button type="button" class="btn btn-secondary ml-2" data-dismiss="modal">Close</button>
                                </div>
               
                </div>
            </form>
            </div>
        </div>
    </div>
</div>    
 